In [25]:
#Import necessary library
import pandas as pd

In [26]:
#Load data
hotel=pd.read_csv('C:/Users/hantao/Desktop/data analysis project/Springboard_Project/Capstone1_Project/hotel_bookings.csv')
weather=pd.read_csv('C:/Users/hantao/Desktop/data analysis project/Springboard_Project/Capstone1_Project/weather_data.csv')

In [27]:
#Exam the summaries of both data files
print(hotel.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
hotel                             119390 non-null object
is_canceled                       119390 non-null int64
lead_time                         119390 non-null int64
arrival_date_year                 119390 non-null int64
arrival_date_month                119390 non-null object
arrival_date_week_number          119390 non-null int64
arrival_date_day_of_month         119390 non-null int64
stays_in_weekend_nights           119390 non-null int64
stays_in_week_nights              119390 non-null int64
adults                            119390 non-null int64
children                          119386 non-null float64
babies                            119390 non-null int64
meal                              119390 non-null object
country                           118902 non-null object
market_segment                    119390 non-null object
distribution_channel              119390 non-null object
is_repeated_guest                 119390 non-null int64
previous_cancellations            119390 non-null int64
previous_bookings_not_canceled    119390 non-null int64
reserved_room_type                119390 non-null object
assigned_room_type                119390 non-null object
booking_changes                   119390 non-null int64
deposit_type                      119390 non-null object
agent                             103050 non-null float64
company                           6797 non-null float64
days_in_waiting_list              119390 non-null int64
customer_type                     119390 non-null object
adr                               119390 non-null float64
required_car_parking_spaces       119390 non-null int64
total_of_special_requests         119390 non-null int64
reservation_status                119390 non-null object
reservation_status_date           119390 non-null object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB
None

In [28]:
print(weather.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 793 entries, 0 to 792
Data columns (total 9 columns):
Date_time                793 non-null object
Maximum_Temperature      793 non-null float64
Minimum _Temperature     793 non-null float64
Average_Temperature      793 non-null float64
Heat_Index               184 non-null float64
Precipitation(inches)    793 non-null float64
Wind_Speed               793 non-null float64
Relative_Humidity        793 non-null float64
Conditions               793 non-null object
dtypes: float64(7), object(2)
memory usage: 55.9+ KB
None

In [29]:
#From hotel data, combine 'arrival_date_year', 'arrival_date_month','arrival_date_day_of_month' to a new column
year=[]
for i in hotel.arrival_date_year:
    year.append(i)
month=[]
for i in hotel.arrival_date_month:
    if i=='July':
        i=7
    if i=='January':
        i=1
    if i=='February':
        i=2
    if i=='March':
        i=3
    if i=='April':
        i=4
    if i=='May':
        i=5
    if i=='June':
        i=6
    if i=='August':
        i=8
    if i=='September':
        i=9
    if i=='October':
        i=10
    if i=='November':
        i=11
    if i=='December':
        i=12
    month.append(i)
day=[]
for i in hotel.arrival_date_day_of_month:
    day.append(i)
date=[]
for i in range(len(month)):
    a=str(month[i])+'/'+str(day[i])+'/'+str(year[i])
    date.append(a)
hotel['Date_time']=date
hotel['Date_time']

0          7/1/2015
1          7/1/2015
2          7/1/2015
3          7/1/2015
4          7/1/2015
            ...
119385    8/30/2017
119386    8/31/2017
119387    8/31/2017
119388    8/31/2017
119389    8/29/2017
Name: Date_time, Length: 119390, dtype: object

In [30]:
#Merge two data frames on 'Date_time'
merged=hotel.merge(weather,how='outer')
merged

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reservation_status_date,Date_time,Maximum_Temperature,Minimum _Temperature,Average_Temperature,Heat_Index,Precipitation(inches),Wind_Speed,Relative_Humidity,Conditions
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,2015-07-01,7/1/2015,74.4,63.3,67.6,NaN,0.1,14.4,83.56,"Rain, Clear"
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,2015-07-01,7/1/2015,74.4,63.3,67.6,NaN,0.1,14.4,83.56,"Rain, Clear"
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,2015-07-02,7/1/2015,74.4,63.3,67.6,NaN,0.1,14.4,83.56,"Rain, Clear"
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,2015-07-02,7/1/2015,74.4,63.3,67.6,NaN,0.1,14.4,83.56,"Rain, Clear"
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,2015-07-03,7/1/2015,74.4,63.3,67.6,NaN,0.1,14.4,83.56,"Rain, Clear"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,53,2016,November,47,13,2,4,2,...,2016-11-19,11/13/2016,67.4,56.7,62.0,NaN,0.1,11.2,80.99,"Rain, Clear"
119386,City Hotel,0,118,2016,November,47,13,2,4,2,...,2016-11-19,11/13/2016,67.4,56.7,62.0,NaN,0.1,11.2,80.99,"Rain, Clear"
119387,City Hotel,0,12,2016,November,47,13,2,5,2,...,2016-11-20,11/13/2016,67.4,56.7,62.0,NaN,0.1,11.2,80.99,"Rain, Clear"
119388,City Hotel,0,39,2016,November,47,13,2,5,2,...,2016-11-20,11/13/2016,67.4,56.7,62.0,NaN,0.1,11.2,80.99,"Rain, Clear"
119389,City Hotel,0,65,2016,November,47,13,2,5,2,...,2016-11-20,11/13/2016,67.4,56.7,62.0,NaN,0.1,11.2,80.99,"Rain, Clear"

In [35]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119390 entries, 0 to 119389
Data columns (total 41 columns):
hotel                             119390 non-null object
is_canceled                       119390 non-null int64
lead_time                         119390 non-null int64
arrival_date_year                 119390 non-null int64
arrival_date_month                119390 non-null object
arrival_date_week_number          119390 non-null int64
arrival_date_day_of_month         119390 non-null int64
stays_in_weekend_nights           119390 non-null int64
stays_in_week_nights              119390 non-null int64
adults                            119390 non-null int64
children                          119386 non-null float64
babies                            119390 non-null int64
meal                              119390 non-null object
country                           118902 non-null object
market_segment                    119390 non-null object
distribution_channel              119390 non-null object
is_repeated_guest                 119390 non-null int64
previous_cancellations            119390 non-null int64
previous_bookings_not_canceled    119390 non-null int64
reserved_room_type                119390 non-null object
assigned_room_type                119390 non-null object
booking_changes                   119390 non-null int64
deposit_type                      119390 non-null object
agent                             103050 non-null float64
company                           6797 non-null float64
days_in_waiting_list              119390 non-null int64
customer_type                     119390 non-null object
adr                               119390 non-null float64
required_car_parking_spaces       119390 non-null int64
total_of_special_requests         119390 non-null int64
reservation_status                119390 non-null object
reservation_status_date           119390 non-null object
Date_time                         119390 non-null object
Maximum_Temperature               119390 non-null float64
Minimum _Temperature              119390 non-null float64
Average_Temperature               119390 non-null float64
Heat_Index                        28043 non-null float64
Precipitation(inches)             119390 non-null float64
Wind_Speed                        119390 non-null float64
Relative_Humidity                 119390 non-null float64
Conditions                        119390 non-null object
dtypes: float64(11), int64(16), object(14)
memory usage: 43.3+ MB

In [49]:
#Fill in the nan value in children column
merged['children'].fillna(0,inplace=True)

In [75]:
#Fill in the nan value in heat index
t=merged['Average_Temperature']
rh=merged['Relative_Humidity']
heat_index=-42.379+(2.04901523*t)+(10.14333127*rh)-(0.22475541*t*rh)-(6.83783*(10**-3)*t**2)-(5.481717*(10**-2)*rh**2)+(1.22874*(10**-3)*(t**2)*rh)+(8.5282*(10**-4)*t*rh**2)-(1.99*(10**-6)*(t**2)*(rh**2))
merged['Heat_Index'].fillna(heat_index,inplace=True)

In [65]:
#Fill in the NA value in country column 
merged['country'].mode()
merged['country'].fillna(value='PRT',inplace=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119390 entries, 0 to 119389
Data columns (total 42 columns):
hotel                             119390 non-null object
is_canceled                       119390 non-null int64
lead_time                         119390 non-null int64
arrival_date_year                 119390 non-null int64
arrival_date_month                119390 non-null object
arrival_date_week_number          119390 non-null int64
arrival_date_day_of_month         119390 non-null int64
stays_in_weekend_nights           119390 non-null int64
stays_in_week_nights              119390 non-null int64
adults                            119390 non-null int64
children                          119390 non-null float64
babies                            119390 non-null int64
meal                              119390 non-null object
country                           119390 non-null object
market_segment                    119390 non-null object
distribution_channel              119390 non-null object
is_repeated_guest                 119390 non-null int64
previous_cancellations            119390 non-null int64
previous_bookings_not_canceled    119390 non-null int64
reserved_room_type                119390 non-null object
assigned_room_type                119390 non-null object
booking_changes                   119390 non-null int64
deposit_type                      119390 non-null object
agent                             103050 non-null float64
company                           6797 non-null float64
days_in_waiting_list              119390 non-null int64
customer_type                     119390 non-null object
adr                               119390 non-null float64
required_car_parking_spaces       119390 non-null int64
total_of_special_requests         119390 non-null int64
reservation_status                119390 non-null object
reservation_status_date           119390 non-null object
Date_time                         119390 non-null object
Maximum_Temperature               119390 non-null float64
Minimum _Temperature              119390 non-null float64
Average_Temperature               119390 non-null float64
Heat_Index                        119390 non-null float64
Precipitation(inches)             119390 non-null float64
Wind_Speed                        119390 non-null float64
Relative_Humidity                 119390 non-null float64
Conditions                        119390 non-null object
Heat_index                        119390 non-null float64
dtypes: float64(12), int64(16), object(14)
memory usage: 44.2+ MB

In [76]:
#Fill in the NA value in agent
merged['agent'].mode()
merged['agent'].fillna(value=9.0,inplace=True)
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119390 entries, 0 to 119389
Data columns (total 41 columns):
hotel                             119390 non-null object
is_canceled                       119390 non-null int64
lead_time                         119390 non-null int64
arrival_date_year                 119390 non-null int64
arrival_date_month                119390 non-null object
arrival_date_week_number          119390 non-null int64
arrival_date_day_of_month         119390 non-null int64
stays_in_weekend_nights           119390 non-null int64
stays_in_week_nights              119390 non-null int64
adults                            119390 non-null int64
children                          119390 non-null float64
babies                            119390 non-null int64
meal                              119390 non-null object
country                           119390 non-null object
market_segment                    119390 non-null object
distribution_channel              119390 non-null object
is_repeated_guest                 119390 non-null int64
previous_cancellations            119390 non-null int64
previous_bookings_not_canceled    119390 non-null int64
reserved_room_type                119390 non-null object
assigned_room_type                119390 non-null object
booking_changes                   119390 non-null int64
deposit_type                      119390 non-null object
agent                             119390 non-null float64
days_in_waiting_list              119390 non-null int64
customer_type                     119390 non-null object
adr                               119390 non-null float64
required_car_parking_spaces       119390 non-null int64
total_of_special_requests         119390 non-null int64
reservation_status                119390 non-null object
reservation_status_date           119390 non-null object
Date_time                         119390 non-null object
Maximum_Temperature               119390 non-null float64
Minimum _Temperature              119390 non-null float64
Average_Temperature               119390 non-null float64
Heat_Index                        119390 non-null float64
Precipitation(inches)             119390 non-null float64
Wind_Speed                        119390 non-null float64
Relative_Humidity                 119390 non-null float64
Conditions                        119390 non-null object
Heat_index                        119390 non-null float64
dtypes: float64(11), int64(16), object(14)
memory usage: 43.3+ MB

In [72]:
#Drop the company column
merged.drop('company',axis=1,inplace=True)

In [74]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119390 entries, 0 to 119389
Data columns (total 41 columns):
hotel                             119390 non-null object
is_canceled                       119390 non-null int64
lead_time                         119390 non-null int64
arrival_date_year                 119390 non-null int64
arrival_date_month                119390 non-null object
arrival_date_week_number          119390 non-null int64
arrival_date_day_of_month         119390 non-null int64
stays_in_weekend_nights           119390 non-null int64
stays_in_week_nights              119390 non-null int64
adults                            119390 non-null int64
children                          119390 non-null float64
babies                            119390 non-null int64
meal                              119390 non-null object
country                           119390 non-null object
market_segment                    119390 non-null object
distribution_channel              119390 non-null object
is_repeated_guest                 119390 non-null int64
previous_cancellations            119390 non-null int64
previous_bookings_not_canceled    119390 non-null int64
reserved_room_type                119390 non-null object
assigned_room_type                119390 non-null object
booking_changes                   119390 non-null int64
deposit_type                      119390 non-null object
agent                             119390 non-null float64
days_in_waiting_list              119390 non-null int64
customer_type                     119390 non-null object
adr                               119390 non-null float64
required_car_parking_spaces       119390 non-null int64
total_of_special_requests         119390 non-null int64
reservation_status                119390 non-null object
reservation_status_date           119390 non-null object
Date_time                         119390 non-null object
Maximum_Temperature               119390 non-null float64
Minimum _Temperature              119390 non-null float64
Average_Temperature               119390 non-null float64
Heat_Index                        119390 non-null float64
Precipitation(inches)             119390 non-null float64
Wind_Speed                        119390 non-null float64
Relative_Humidity                 119390 non-null float64
Conditions                        119390 non-null object
Heat_index                        119390 non-null float64
dtypes: float64(11), int64(16), object(14)
memory usage: 43.3+ MB